<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456143632018-4fvd9ihq00at57senm9pq6lvk4udqtjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456143632018-4fvd9ihq00at57senm9pq6lvk4udqtjs</string>
	<key>API_KEY</key>
	<string>AIzaSyAMb-9iTEQT6gc9926gu7tMwH9MbklC7ls</string>
	<key>GCM_SENDER_ID</key>
	<string>456143632018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopMate</string>
	<key>PROJECT_ID</key>
	<string>shop-mate-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-mate-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456143632018:ios:c1e65efff80e3791fe184b</string>
</dict>
</plist>